@mixin dot {
  height: 10px;
  width: 10px;
  margin-top: 0.2rem;
  background-color: #87bcd0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.4rem;
}
@mixin spanImg {
  height: 2.5rem;
  width: 5rem;
  object-fit: cover;
}
@mixin centerPos {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin avatar {
  display: inline-flex;
  align-items: center;
  margin: 0 6px;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
@mixin scale {
  scale: 1.05;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--bg-color);
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #f5f6fb;
  --special-div-bg: black; 
  --special-div-color: white;
  --text-color: black;
}

.dark-theme {
  --bg-color: black;
  --special-div-bg: white; 
  --special-div-color: black;
  --text-color: white;
}

.view1 {
  width: 100%;
  background-image: url("./bgImg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;

  padding: 0 1.5rem;
  h1 {
    padding-top: 5rem;
    opacity: 0.7;
    color: var(--special-div-color);
    font-weight: 500;
  }
  .touch {
    padding-top: 5rem;
    opacity: 0.7;
    color: var(--special-div-color);
    font-weight: 500;
    position: absolute;
    padding-right: 1.5rem;
    top: 0;
    right: 0;
    text-decoration: underline;
  }
  .new {
    position: absolute;
    left: 11%;
    top: 30%;
    color: var(--special-div-color);
    h4 {
      font-size: 2rem;
      font-weight: 500;
      width: 72%;
    }
    width: 25%;
  }
  p {
    padding-top: 0.5rem;
    span {
      background-color: orange;
      border-radius: 50%;
      padding: 0.3rem 0.4rem;
      margin-right: 0.5rem;
    }
  }
  .image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  color: var(--special-div-color);
  .logo {
    width: 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .detail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    padding-bottom: 1.1rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      align-items: center;
      gap: 1rem;
      h4 {
        // color: rgba(255, 255, 255, 0.76);
        color: var(--special-div-color);
        opacity: 0.7;
        font-weight: 500;
        span {
          background-color: #fe4c00;
          border-radius: 10px;
          padding: 2px 5px;
          font-size: 0.6rem;
        }
      }
      h4:hover {
        opacity: 1;
      }
    }
    .menu:hover {
      cursor: pointer;
    }
    .toggle {
  cursor: pointer;

  .icon-container {
    position: relative;
    width: 55px;
    height: 30px;
    background-color: var(--bg-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    i {
      font-size: 16px;
      color: var(--text-color);
      z-index: 2;
    }

    .switch-thumb {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: rgb(216, 214, 214);
      transition: all 0.3s ease;
      z-index: 1;

      &.right {
        left: calc(100% - 27px);
      }
    }
  }
}

  }
}

.view2 {
  display: flex;
  gap: 1rem;
  padding: 3.5rem 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  .left {
    display: flex;
    width: 35%;
    flex-direction: column;
    gap: 1rem;
    .benefit {
      letter-spacing: -1.3px;
      @include centerPos;
      width: fit-content;
      span {
        @include dot;
      }
    }
    .explore {
      font-size: 3.1rem;
      font-weight: 500;
      line-height: 3.5rem;
      span {
        img {
          @include spanImg;
        }
      }
    }
    .span {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      span {
        background-color: white;
        border-radius: 10px;
        padding: 0.2rem 0.8rem;
        font-weight: 600;
        color: black;
        .emot {
          rotate: 100deg;
        }
        i {
          margin-right: 0.2rem;
        }
      }
      span:hover{
        @include scale;
      }
    }
    .whiteBg {
      margin-top: 3rem;
      background-color: white;
      // color: var(--text-color);
      color: black;
      border-radius: 10px;
      padding: 0.8rem 1.2rem;
      width: 90%;
      .head {
        h2 {
          letter-spacing: -1px;
          font-weight: 500;
        }
        span {
          font-size: 3rem;
          width: 14px;
          height: 2px;
          background-color: black;
          padding: 0;
          margin: 0;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      p {
        color: gray;
        padding-top: 0.5rem;
      }
    }
    .whiteBg:hover{
      @include scale;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      padding-left: 1.2rem;
      padding-right: 0.9rem;
      h2 {
        font-weight: 500;
        letter-spacing: -1px;
      }
      span {
        i {
          font-size: 1.3rem;
        }
      }
    }
  }
  .right {
    width: 65%;
    background-color: white;
    padding: 4rem 4rem;
    border-radius: 20px;
    display: flex;
    gap: 2rem;
    .rightLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        h2 {
          color: black;
          span {
            margin-right: 0.5rem;
            i {
              color: #fe4c00;
            }
          }
        }
        p {
          width: 74%;
          line-height: 1.2rem;
          color: rgba(0, 0, 0, 0.822);
          font-weight: 500;
          margin-top: 0.8rem;
        }
      }
      .down {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h1 {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 2.5rem;
          width: 80%;
        }
        .btn {
          padding: 0.5rem 1rem;
          background-color: black;
          color: white;
          display: flex;
          justify-content: space-between;
          border-radius: 20px;
          width: 80%;
        }
        .btn:hover {
          @include scale;
        }
      }
    }
    .rightRight {
      background-image: url("./ball.png");
      background-position: center;
      background-size: cover;

      width: 50%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 1rem;
      height: 70vh;
      h2 {
        // width: 60%;
        width: fit-content;
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 0.2rem 0.8rem;
        letter-spacing: -1px;
        font-weight: 600;
        font-size: 1rem;
        align-self: flex-end;
        i {
          margin-right: 0.5rem;
        }
      }
      h2:hover{
        @include scale;
      }
      .bottom {
        width: fit-content;
        color: black;
        .content {
          background-color: white;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
        h4 {
          padding: 0rem 1rem;
          text-align: center;
          padding-top: 0.8rem;
          color: gray;
          letter-spacing: -1px;
          font-weight: 500;
        }
        h3 {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          padding: 0rem 1rem;
          padding-bottom: 0.5rem;
          span {
            font-size: 2rem;
            font-weight: 500;
            margin-right: 0.5rem;
            letter-spacing: -1.5px;
          }
        }
        .boost {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.4);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          span {
            color: white;
            background-color: #58add1;
            padding: 0.3rem 1.4rem;
            border-bottom-left-radius: 15px;
            display: inline-block;
            font-size: 0.8rem;
            align-items: center;
            i {
              font-size: 1.1rem;
              margin-right: 0.2rem;
            }
          }
        }
      }
    }
  }
}

.view3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 3.5rem 3rem;
  border-radius: 15px;
  padding: 3rem 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);

  .one {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .left {
      display: flex;
      gap: 0.5rem;
      span {
        border-radius: 20px;
        padding: 0.7rem 1rem;
        // background-color: var(--bg-color);
        background-color: rgb(226, 226, 226);
        // color: var(--text-color);
        color: black;

        font-weight: 700;
        font-size: 1.1rem;
        i {
          margin-right: 0.3rem;
        }
      }
      span:hover{
        @include scale;
      }
    }
    .program {
      @include centerPos;
      letter-spacing: -1.5px;
      span {
        @include dot;
      }
    }
  }
  .two {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    h1 {
      width: 55%;
      font-size: 2.8rem;
      font-weight: 500;
      // background-color: red;
      line-height: 3.2rem;
      span {
        img {
          @include spanImg;
        }
      }
    }
    p {
      width: 22%;
      align-self: flex-end;
      color: gray;
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
  .three {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .event {
        p {
          color: gray;
          font-weight: 600;
          font-size: 1.5rem;
          width: 50%;
          span {
            font-size: 5rem;
            font-weight: 400;
            letter-spacing: -5px;
            color: var(--text-color);
          }
        }
        .upcoming {
          line-height: 1.7rem;
          letter-spacing: -1px;
        }
      }
      .circle {
        display: flex;
        gap: 0.5rem;
        .leftArrow {
          border: 0.5px solid rgba(128, 128, 128, 0.24);
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          @include centerPos;
          i {
            font-size: 1.5rem;
          }
        }
        .leftArrow:hover,
        .rightArrow:hover {
          @include scale;
          rotate: 5deg;
          i {
            font-size: 2rem;
          }
        }
        .rightArrow {
          background-color: #fe4c00;
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          @include centerPos;
          i {
            font-size: 1.5rem;
            color: white;
          }
        }
      }
    }
    .middle {
      width: 35%;
      border-radius: 30px;
      background-color: var(--special-div-bg);
      color: var(--special-div-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem 2rem;
      .text-block {
        font-size: 2rem;
        line-height: 1.2;
      }
      .avatar-group {
        @include avatar;
      }
      .live {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 1.2rem;
          opacity: 0.9;
          i {
            margin-right: 0.5rem;
          }
        }
        .dotCom {
          background-color: rgba(0, 0, 0, 0.596);
          border: 1px solid rgba(255, 255, 255, 0.767);
          border-radius: 20px;
          padding: 0.3rem 0.6rem;
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }
    .middle:hover {
      @include scale;
    }
    .racket {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url("./racket.png");
      height: 70vh;
      border-radius: 30px;
      background-position: center;
      background-size: cover;

      padding: 2rem 2rem;
      .top {
        display: flex;
        justify-content: space-between;
        .sportCenter {
          p {
            background-color: rgba(255, 255, 255, 0.4);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            color: white;
            opacity: 0.8;
            padding: 0.2rem 0.5rem;
            border-radius: 20px;
            font-weight: 400;
            font-size: 0.8rem;
          }
        }
        .icon {
          background-color: rgba(255, 255, 255, 0.4);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          color: white;
          padding: 0.8rem 0.8rem;
          padding-right: 1.2rem;
          border-radius: 15px;
          span {
            background-color: white;
            // padding: 0.2rem;
            height: 1.8rem;
            width: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            i {
              color: #fe4c00;
            }
          }
          .twoK {
            font-weight: 400;
            font-size: 1.2rem;
            opacity: 0.9;
          }
          .member {
            font-size: 0.7rem;
            opacity: 0.8;
          }
        }
      }
      .bottom {
        color: rgba(255, 255, 255, 0.856);
        .oneK {
          font-size: 1.1rem;
          font-weight: 500;
          padding: 0rem 0;
          display: flex;
          align-items: center;
          .avatar-group {
            @include avatar;
          }
          span {
            font-size: 0.8rem;
            opacity: 0.9;
          }
        }
        h3 {
          font-size: 2rem;
          width: 70%;
          font-weight: 500;
          line-height: 2.3rem;
          padding-bottom: 0.8rem;
          padding-top: 0.5rem;
        }
        .US {
          text-transform: uppercase;
          font-size: 0.8rem;
          letter-spacing: 1.2px;
        }
      }
    }
    .racket:hover {
      @include scale;
    }
  }
}

.view4 {
  display: flex;
  gap: 2rem;
  margin: 3.5rem 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  .left {
    width: 50%;
    height: 90vh;
    background-image: url("./goal.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    .leftCenter {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 2rem 2rem;
      border-radius: 15px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .activity {
          display: flex;
          align-items: center;
          span {
            height: 2rem;
            margin-right: 0.5rem;
            width: 2rem;
            border: 1px solid gray;
            border-radius: 50%;
            @include centerPos;
          }
        }
        .eightSeven {
          @include centerPos;
          background-color: #fe4c00;
          padding: 0.2rem 0.5rem;
          border-radius: 15px;
          color: white;
          font-size: 0.7rem;
          span {
            @include dot;
            height: 5px;
            width: 5px;
            background-color: white;
          }
        }
      }
      .twoPointSeven {
        color: gray;
        span {
          font-size: 3rem;
          color: black;
          letter-spacing: -2px;
        }
      }
      .well {
        color: gray;
      }
      .bottom {
        display: flex;
        justify-content: space-evenly;
        gap: 4rem;
        p {
          color: gray;

          span {
            font-size: 2rem;
            color: black;
            letter-spacing: -2px;
          }
        }
        .dot {
          @include centerPos;
          span {
            @include dot;
            background-color: #fe4c00;
            height: 8px;
            width: 8px;
          }
        }
      }
      .image {
        width: 100%;
        margin: 1rem 0;
        img {
          width: 100%;
          object-fit: cover;
          height: 15vh;
        }
      }
    }
    .leftCenter:hover {
      @include scale;
    }
  }
  .right {
    width: 50%;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .featured {
      text-align: left;
      @include centerPos;
      width: fit-content;
      letter-spacing: -1px;
      span {
        @include dot;
      }
    }
    .stay {
      font-size: 3rem;
      font-weight: 600;
      width: 80%;
      letter-spacing: -1px;
      line-height: 3rem;
      span {
        img {
          @include spanImg;
        }
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      span {
        height: 3rem;
        border-radius: 50%;
        width: 3rem;
        background-color: white;
        color: black;
        @include centerPos;
      }
      span:hover{
        @include scale;
      }
      .eight {
        height: 1.5rem;
        width: 1.5rem;
        background-color: #fe4c00;
        color: white;
        font-size: 0.8rem;
        margin-left: 0.2rem;
      }
    }
    .rightBottom {
      display: flex;
      margin-top: auto;
      // align-self: flex-end;
      gap: 1rem;
      .rightBottomLeft {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        // border: 1px solid black;
        .record {
          width: 60%;
          font-size: 1rem;
          font-weight: 400;
        }
        .gpt {
          display: flex;
          // background-color: #58add1;
          flex-direction: column;
          justify-content: space-between;
          .gptPara {
            font-weight: 500;
            margin-bottom: 7rem;
          }
          .circle {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .topRightArrow {
              height: 6rem;
              width: 6rem;
              border-radius: 50%;
              background-color: #fe4c00;
              @include centerPos;
              i {
                font-size: 2.3rem;
                color: white;
              }
            }
            .topRightArrow:hover {
              @include scale;
              rotate: 10deg;
            }
            .explore {
              font-weight: 500;
              text-align: right;
            }
          }
        }
      }
      .rightBottomRight {
        width: 50%;
        .image {
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          background-image: url("./boyBall.png");
          background-position: center;
          background-size: cover;
          height: 40vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1.5rem 1.5rem;
          .twoFive {
            @include centerPos;
            width: fit-content;
            align-self: flex-end;
            color: white;
            span {
              @include dot;
              background-color: white;
            }
          }
          .view {
            width: fit-content;
            background-color: white;
            border-radius: 20px;
            align-self: center;
            padding: 0.4rem 1rem;
            font-weight: 500;
            color: black;
            span {
              i {
                color: #58add1;
                margin-right: 0.5rem;
              }
            }
          }
          .view:hover {
            @include scale;
          }
          .comming {
            text-transform: uppercase;
            color: white;
            text-align: center;
            font-weight: 500;
          }
        }
        .moodDiv {
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          background-color: rgba(255, 255, 255, 0.4);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          .mood {
            font-weight: 500;
            background-color: white;
            color: black;
            border-bottom-left-radius: 30px;

            font-size: 1.2rem;
            text-align: center;
            padding: 1rem 0;
            // background-color: red;
            width: 70%;
            span {
              display: inline-block;
              i {
                color: rgb(255, 187, 0);
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.view5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 30px;
  margin: 3.5rem 3rem;
  background-color: black;
  color: white;
  padding: 3rem 3rem;
  .up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .current {
      font-weight: 400;
      align-self: flex-start;
      @include centerPos;
      span {
        @include dot;
        height: 8px;
        width: 8px;
        background-color: white;
      }
    }
    .win {
      text-align: left;
      width: 68%;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 3.8rem;
      letter-spacing: -1px;
      .image {
        // margin-top: 10rem;
        padding-top: 1rem;
        img {
          @include spanImg;
        }
      }
      .leaf {
        color: rgb(7, 218, 7);
      }
    }
  }
  .bottom {
    .online {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      font-weight: 400;
      font-size: 2rem;
    }
    hr {
      opacity: 0.1;
    }
    .youth {
      background-color: #fe4c00;
      border-radius: 15px;
      padding: 1rem 1rem;
      position: relative;
      // padding-top: 0;
      .orange {
        width: 100%;
        display: flex;
        font-weight: 400;
        font-size: 2rem;
        justify-content: space-between;
        // padding-bottom: 1rem;
        span {
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          background-color: white;
          @include centerPos;
          margin-top: 2rem;
          i {
            color: black;
          }
        }
      }
      .youthDown {
        display: flex;
        gap: 0.3rem;

        span {
          border: 1px solid rgba(255, 255, 255, 0.438);
          color: rgba(255, 255, 255, 0.87);
          padding: 0.2rem 0.5rem;
          border-radius: 15px;
        }
      }
      .overlay {
        position: absolute;
        background-image: url("./girl.png");
        background-position: center;
        background-size: cover;
        height: 40vh;
        width: 32vh;
        top: -45%;
        right: 10%;
        rotate: -7deg;
        border-radius: 20px;
      }
    }
  }
}

.view6 {
  margin: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  .up {
    display: flex;
    justify-content: space-between;
    .people {
      font-size: 3rem;
      font-weight: 500;
      width: 45%;
      letter-spacing: -1px;
      line-height: 3.2rem;
      span {
        img {
          @include spanImg;
        }
      }
    }
    .testimonial {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      color: black;

      p {
        background-color: white;
        text-align: right;
        width: fit-content;
        align-self: flex-end;
        padding: 0.2rem 0.8rem;
        border-radius: 20px;
        font-weight: 500;
        font-size: 1.4rem;
        @include centerPos;
        span {
          @include dot;
          height: 7px;
          width: 7px;
        }
        i {
          font-size: 1.5rem;
          margin-right: 0.3rem;
        }
      }
      p:hover {
        @include scale;
      }
    }
  }
  .bottom {
    display: flex;

    .left {
      width: 50%;
      background-color: white;
      border-radius: 20px;
      padding: 2rem 2rem;
      color: black;
      .head {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
          @include centerPos;
          span {
            @include dot;
          }
        }
        .line {
          width: 90%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.205);
        }
      }
      .stars {
        span {
          i {
            color: rgb(255, 187, 0);
          }
        }
      }
      h3 {
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: -1px;
        width: 90%;
        line-height: 2.6rem;
        padding: 1rem 0;
      }
      .benedata {
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;
        .chan {
          width: 50%;
          h3 {
            font-size: 1.5rem;
            padding: 0;
          }
          p {
            padding: 0;
            margin: 0;
            color: gray;
            font-weight: 500;
            letter-spacing: -1px;
          }
        }
        .circle {
          width: 50%;
          display: flex;
          justify-content: flex-end;
          padding-right: 1.5rem;
          .circle1 {
            height: 3rem;
            align-self: flex-end;
            width: 3rem;
            border: 1px solid black;
            position: relative;
            border-radius: 50%;
            .circle2 {
              position: absolute;
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
              background-color: #fe4c00;
              left: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                i {
                  color: white;
                  font-size: 1.5rem;
                }
              }
            }
            .circle2:hover {
              @include scale;
              i {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    .right {
      background-image: url("./girl2.png");
      background-position: center;
      background-size: cover;
      padding: 2rem;
      border-radius: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .head {
        display: flex;
        justify-content: space-between;
        p {
          color: white;
          font-size: 1.5rem;
        }
        .trainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          color: black;
          span {
            background-color: white;
            border-radius: 20px;
            padding: 0.2rem 0.8rem;
            width: fit-content;
            font-size: 1.2rem;
            font-weight: 500;
            i {
              margin-right: 0.3rem;
            }
          }
        }
        .trainer {
          span:hover {
            @include scale;
          }
        }
      }
      .center {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          color: white;
          font-size: 3rem;
          font-weight: 500;
        }
        p {
          text-align: center;
          color: white;
          padding: 1rem 0;
        }
        .session {
          background-color: white;
          width: fit-content;
          padding: 0.2rem 0.8rem;
          border-radius: 20px;
          align-self: center;
          color: gray;
          font-weight: 500;
          letter-spacing: -1px;
          margin-top: 1rem;
          span {
            font-size: 1.5rem;
            font-weight: 600;
            color: black;
          }
        }
        .session:hover {
          @include scale;
        }
      }
      .rightEnd {
        display: flex;
        justify-content: space-between;
        h3 {
          align-self: flex-end;
          @include centerPos;
          color: white;
          font-weight: 400;
          span {
            @include dot;
            background-color: white;
          }
        }
        .arrow {
          height: 4rem;
          width: 4rem;
          background-color: white;
          border-radius: 50%;
          @include centerPos;
          i {
            font-size: 2rem;
            color: black;
          }
        }
        .arrow:hover {
          @include scale;
          rotate: 10deg;
          i {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

.view7 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3.5rem 3rem;

  .one {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    gap: 2rem;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background-image: url("./boy2.png");
      background-position: center;
      background-size: cover;
      padding: 1rem;
      width: 30%;
      border-radius: 20px;
      h3 {
        @include centerPos;
        width: fit-content;
        color: white;
        font-weight: 500;
        span {
          @include dot;
          background-color: white;
          // color: black;
        }
      }
      h1 {
        font-weight: 500;
        color: white;
        line-height: 2rem;
        padding: 1.5rem 0;
      }
      .arrow {
        position: absolute;
        right: 25%;
        bottom: 6%;
        height: 3rem;
        background-color: white;
        width: 3rem;
        border-radius: 50%;
        @include centerPos;
        i {
          font-size: 1.5rem;
          color: black;
        }
      }
    }
    .left:hover {
      @include scale;
      .arrow {
        rotate: 10deg;
        i {
          font-size: 2rem;
        }
      }
    }
    .center {
      h1 {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: -1px;
        width: 90%;
        line-height: 4rem;
      }
      div {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
        span {
          border: 1px solid gray;
          padding: 0.2rem 0.5rem;
          font-weight: 500;
          border-radius: 20px;
          i {
            margin-right: 0.5rem;
          }
        }
        span:hover {
          @include scale;
        }
      }
    }
    .last {
      display: flex;
      flex-direction: column;
      .up {
        display: flex;
        gap: 2rem;
        p {
          font-weight: 500;
          font-size: 1.2rem;
          letter-spacing: -1px;
        }
      }
      .up {
        .upRight {
          p {
            span:hover {
              @include scale;
              i {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
      .bottom {
        background-color: #fe4c00;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        @include centerPos;
        align-self: flex-end;
        margin-top: 3rem;
        i {
          font-size: 4rem;
          color: white;
          animation: anime 6s linear infinite;
        }
      }
    }
  }
  @keyframes anime {
    0% {
      // rotate: 0deg;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .two {
    display: flex;
    flex-direction: column;
    position: relative;

    .name {
      align-self: flex-end;
      background-color: var(--bg-color);
      color: var(--text-color);
      z-index: 20;
      padding: 0 2rem;

      span {
        font-size: 1.2rem;
        letter-spacing: -1px;
        font-weight: 500;
      }
      .hello {
        margin-right: 0.8rem;
      }
    }
    .place {
      z-index: 20;
      background-color: var(--bg-color);
      color: var(--text-color);
      width: 100%;
      padding: 0 2rem;

      p {
        font-size: 1.2rem;
        letter-spacing: -1px;
        font-weight: 500;
      }
    }
    hr {
      margin-top: 4rem;
      opacity: 0.2;
      z-index: 20;
    }
    .end {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      z-index: 20;
      background-color: var(--bg-color);
      color: var(--text-color);
      p {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    .granger {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      background-color: var(--bg-color);
      color: var(--text-color);
      bottom: -140%;
      animation: anime2 2s linear 5;
      padding-bottom: 3rem;
      h1 {
        font-size: 24vw;
        font-weight: 500;
      }
      div {
        display: flex;
        padding: 0 2rem;
        span {
          margin: 0 1.5rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        p {
          margin-left: auto;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
@keyframes anime2 {
  0% {
    bottom: -150%;
  }
  100% {
    bottom: -140%;
  }
}
